[CLUSTER]
HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

[IAM_ROLE]
ARN=

[S3]
LOG_DATA='s3://udacity-dend/log_data'
LOG_JSONPATH='s3://udacity-dend/log_json_path.json'
# To speed up the project, will try to use smaller subset: SONG_DATA
SONG_DATA='s3://udacity-dend/song_data/A/A'
#SONG_DATA='s3://udacity-dend/song_data'